[submodule "diego-release"]
	path = diego-release
	url = https://github.com/cloudfoundry-incubator/diego-release
[submodule "cf-routing-release"]
	path = cf-routing-release
	url = https://github.com/cloudfoundry-incubator/cf-routing-release
[submodule "garden-linux-release"]
	path = garden-linux-release
	url = https://github.com/cloudfoundry-incubator/garden-linux-release
[submodule "src/github.com/cloudfoundry-incubator/receptor"]
	path = src/github.com/cloudfoundry-incubator/receptor
	url = git@github.com:cloudfoundry-incubator/receptor
[submodule "src/github.com/cloudfoundry-incubator/lattice"]
	path = src/github.com/cloudfoundry-incubator/lattice
	url = https://github.com/cloudfoundry-incubator/lattice
[submodule "cf-release"]
	path = cf-release
	url = https://github.com/cloudfoundry/cf-release
[submodule "src/github.com/cloudfoundry-incubator/natbeat"]
	path = src/github.com/cloudfoundry-incubator/natbeat
	url = git@github.com:/cloudfoundry-incubator/natbeat
[submodule "src/github.com/goji/httpauth"]
	path = src/github.com/goji/httpauth
	url = https://github.com/goji/httpauth
