.DS_Store

*.box
*.tfstate
*.tfstate.backup
*.tfvars
lattice.tf.json
lattice.tgz

/bin
/pkg
/bosh/bin
/bosh/pkg

/vagrant/assets
/vagrant/packer_cache
/vagrant/.vagrant
/vagrant/output-*

/terraform/assets
