.vagrant
.idea
*.iml
.agignore

lattice.tgz
ltc.tar.gz
.lattice-environment
/build
/images/**/*.box
packer_cache

*.test
*.coverprofile
coverage.out

terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.lattice.tf.swp
.terraform
.terraform.tfstate.swp

*playground
lattice.tf
lattice.aws.tf
lattice.digitalocean.tf
lattice.gce.tf
!terraform/aws/example/lattice.aws.tf
!terraform/digitalocean/example/lattice.digitalocean.tf
!terraform/gce/example/lattice.gce.tf

/concourse/credentials.yml
