Vagrantfile-e
.vagrant
.idea
*.iml
bin/linux_amd64/*
lattice.tgz
ltc.tar.gz
.system-domain
.lattice-environment
*.box
*.iso

ltc/ltc
tee2metron/tee2metron
tee2metron/test_helpers/chatty_process/chatty_process
s3downloader/s3downloader
s3uploader/s3uploader
*.test
*.coverprofile
coverage.out

terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.lattice.tf.swp
.terraform
.terraform.tfstate.swp

*playground
lattice.tf
lattice.aws.tf
lattice.digitalocean.tf
lattice.gce.tf
!terraform/aws/example/lattice.aws.tf
!terraform/digitalocean/example/lattice.digitalocean.tf
!terraform/gce/example/lattice.gce.tf
