module "lattice" {
    source = "github.com/pivotal-cf-experimental/lattice/terraform/digitalocean"

    # Digital Ocean API token
    do_token = "<CHANGE-ME>"

    # SSH public key fingerprint
    do_ssh_public_key_fingerprint = "<CHANGE-ME>"

    # Path to the SSH private key file
    do_ssh_private_key_file = "<CHANGE-ME>"

    # The number of Lattice Cells to launch
    num_cells = "3"
}
