# lattice_tgz_url = "<CHANGE-ME>"

# Lattice credentials

# username = "<CHANGE-ME>"
# password = "<CHANGE-ME>"

# AWS credentials

# aws_access_key_id = "<CHANGE-ME>"
# aws_secret_access_key = "<CHANGE-ME>"
# aws_ssh_private_key_name = "<CHANGE-ME>"
# aws_ssh_private_key_path = "<CHANGE-ME>"

# Optional settings

# aws_region = "us-east-1"
# cell_count = "3"
